.cls-home-logo-display {
    margin: auto;
    padding-top: 20px;
}
ul {
    margin: 0px;
}
li {
    margin-bottom: 0px;
    padding: 0px;
}

/*.nx-page {*/
/*    background-color: white;*/
/*    margin: 10px;*/
/*}*/

.clo-new-features-template {
    padding-left: 10px; 
    padding-right: 10px; 
    background-color: #f8b666; 
    color: #ffffff; 
    margin-bottom: 20px; 
    margin: 10px;
}




.home-page-user-section-container {
	display: block; 
	text-align: center;
}

.home-page-user-section-panel {
	font-size: 21px; 
	color: #121212;
}

.home-page-user-section-panel-second {
	font-size: 21px; 
	margin-bottom: 40px;
}

.home-page-user-section-panel-second-font {
	font-weight: bolder;
}
