*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px */
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 40%; /* 6px */
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin: 0 !important;
}

body,
body [data-style-id=app] {
  font-family: "canada-type-gibson", sans-serif !important;
}

*[navigate] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #1c75dd;
}

.btn {
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 2px 4px #a5a5a5;
          box-shadow: 0 2px 4px #a5a5a5;
  cursor: pointer;
}
.btn.btn-primary {
  background-color: #1c75dd;
  color: #fff;
}
.btn.btn-secondary {
  background-color: #fff;
  color: #1c75dd;
}
.btn .action-wrapper {
  padding: 1.4rem 2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn .action-wrapper .fa {
  margin-left: 0.8rem;
  font-size: 1.6rem;
}

input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  color: #333;
  -webkit-box-shadow: 0 0.5rem 1rem 0 #dcdcdc;
          box-shadow: 0 0.5rem 1rem 0 #dcdcdc;
  height: 4rem;
  caret-color: #1c75dd;
}
input:focus {
  outline: none;
}

header,
footer {
  height: 6rem;
}

header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
}
header .header-container {
  height: 100%;
  -webkit-box-shadow: 0 2px 4px 0 #d4d4d4;
          box-shadow: 0 2px 4px 0 #d4d4d4;
}
header .header-wrapper {
  margin: 0 auto;
  width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
header .company-website a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}

main {
  background-color: #f2f2f2;
  height: 100%;
  padding-top: 6rem;
  /* height: calc(100% - 120px); */
}

.container {
  margin: 0 auto;
  width: 120rem;
  height: 100%;
}
.container .container-wrapper {
  height: 100%;
  padding: 3rem 0;
}
.container .container-wrapper .heading h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
  color: #1c75dd;
}
.container .content {
  display: grid;
  grid-template-columns: 35rem auto;
  grid-column-gap: 2rem;
  height: 54.5rem;
  margin-top: 3rem;
}

footer {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 1.2rem;
}
footer a {
  color: #fff;
}

.pdf-select-container {
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.pdf-select-container .title h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
}
.pdf-select-container .pdf-search {
  padding-top: 1.5rem;
  position: relative;
}
.pdf-select-container .pdf-search .searched-items-conatiner {
  position: absolute;
  -webkit-box-shadow: 0 0.5rem 1rem 0 #dcdcdc;
          box-shadow: 0 0.5rem 1rem 0 #dcdcdc;
  width: 100%;
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 1rem;
}
.pdf-select-container .pdf-search .searched-items-conatiner .searched-items-content {
  height: 100%;
  display: grid;
  grid-row-gap: 0.5rem;
  font-size: 1.4rem;
  padding: 0.5rem;
  max-height: 25rem;
  overflow-y: auto;
}
.pdf-select-container .pdf-search .searched-items-conatiner .searched-items-content .searched-item {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.pdf-select-container .pdf-search .searched-items-conatiner .searched-items-content .searched-item:hover {
  background-color: #f4f4f4;
}
.pdf-select-container .pdf-search .searched-items-conatiner .searched-items-content .search-loader {
  text-align: center;
}
.pdf-select-container .selected-pdf-list {
  padding: 2.2rem 0;
}
.pdf-select-container .selected-pdf-list .pdf-list {
  padding: 1rem 0;
  background-color: #fafafa;
  border-radius: 0.3rem;
  height: 34rem;
}
.pdf-select-container .selected-pdf-list .pdf-list .list-container {
  max-height: 32rem;
  overflow: auto;
  padding: 0 1rem;
  display: grid;
  padding: 0 1.5rem;
}
.pdf-select-container .selected-pdf-list .pdf-list .pdf-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 1.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 2px 4px #eee;
          box-shadow: 0 2px 4px #eee;
  margin: 0.5rem 0;
}
.pdf-select-container .selected-pdf-list .pdf-list .pdf-details {
  font-size: 1.4rem;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pdf-select-container .selected-pdf-list .pdf-list .pdf-details .fa {
  font-size: 2rem;
  color: red;
  margin-right: 1rem;
}
.pdf-select-container .selected-pdf-list .pdf-list .pdf-details span {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  width: 21rem;
  white-space: nowrap;
}
.pdf-select-container .selected-pdf-list .pdf-list .pdf-item-btns .cross-btn {
  color: #adadad;
  font-size: 1.2rem;
  cursor: pointer;
}
.pdf-select-container .blank {
  padding: 1.5rem;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  color: #969696;
  height: 100%;
}

.pdf-view-container {
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.pdf-view-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pdf-view-container .title h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
}
.pdf-view-container .title .download-btn {
  font-size: 1.3rem;
}
.pdf-view-container .pdf-container {
  padding-top: 1.5rem;
  position: relative;
}
.pdf-view-container .pdf-container #mergedPdf {
  width: 100%;
  border: 1px solid #e9e9e9;
  height: 46.8rem;
  border-radius: 0.3rem;
}
.pdf-view-container .pdf-container .btn-secondary {
  position: absolute;
  right: 1rem;
  bottom: 1.2rem;
}
.pdf-view-container .pdf-container .btn-secondary .action-wrapper {
  padding: 0.8rem;
}
.pdf-view-container .pdf-container .btn-secondary .action-wrapper a {
  font-size: 1rem;
}