#topRelationshipGrid .nx-pagetitle-maintitle {
    font-size: 12px;
    margin-left: -12px;
    font-weight: 700;
}
.launchpad-search-wrapper {
    padding-left: 12px;
}
.nx-queue-header {
    display: none;
}

.nx-list-footer {
    display: none;
}

/*.nx-queue-loader {
    display: none;
}*/

.simple-queue.nx-queue {
    border-top: 0;
}

.nx-queue-item-inner-with-icon {
    height: 32px;
}

/*.sk-icon {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    line-height: 30px;*/
/*    border-radius: 50%;*/
/*    border: 2px solid white;*/
/*    margin: 0 15px 0 0;*/
/*}*/

/* to get the font content, go https://astronautweb.co/snippet/font-awesome/ */

.sk-icon.sk-icon-members:before {
    font-family: FontAwesome;
    content: "\f007";
    padding: 4px;
    font-size: 34px;
    vertical-align: middle;
}

.nx-item.nx-queue-item.nx-queue-item-selected > .nx-queue-item-inner {
    color: white;
}

.nx-item.nx-queue-item.nx-queue-item-selected .sk-icon {
    color: #48ce94;
    border: 2px solid #48ce94;
}

.nx-item.nx-queue-item {
    border-left: 5px solid #7f7f7f;
}

.nx-item.nx-queue-item .nx-template {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nx-item.nx-queue-item .nx-queue-loader {
    display: none;
}

.nx-item.nx-queue-item:hover {
    border-left: 5px solid #2d5074;
}

.nx-item.nx-queue-item.nx-queue-item-selected {
    border-left: 5px solid #48ce94;
}
.nx-queue-item {
    margin-top: 8px;
    border-bottom: 0px;
    border-radius: 5px;
}
.cls-home-search-box {
    font-size: 14px;
    color: #121212;
    display:none;
}
.cls-home-search-box .sk-search {
    font-size: 12px;
}
.searchToolTip{
    padding-left: 16px; 
    padding-right: 16px; 
    padding-bottom: 16px; 
    /*margin-bottom: 20px; */
    margin-top: 12px; 
    border-radius: 5px; 
    background-color: #dceef0; 
    font-size: 12px;
}

#topRelationshipGrid {
    padding:10px;
}
